* {
	margin:0;
	padding:0;
}

body {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

header {	
	background : url('../medias/Groupe.gif') no-repeat;
	height:68px;
	padding-left:120px;
	padding-top:25px;
	
}

section {
	clear:left;
	
	
	padding-top:50px;
	padding-left:20px;
	width:100%;
	height:175px;
}
dl{
	padding-left:20px;
}
dt {
	font-weight:bold;
}
dd {
	padding-left:20px;
}

footer{
	position:absolute;
	bottom:0px;
	width:100%;
	background-color : #195594;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

.erreur {
	height:30px;
	color:red;
}
