/*
* {
	margin:0;
	padding:0;
}

body {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
        background:url("../medias/BG.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        overflow: auto;
}

header {	
	background : url('../medias/musique.png') no-repeat;
	height:68px;
	padding-left:120px;
	padding-top:45px;
	
}

section {
	clear:left;
	
	
	padding-top:50px;
	padding-left:20px;
	width:100%;
	height:175px;
}
dl{
	padding-left:20px;
}
dt {
	font-weight:bold;
}
dd {
	padding-left:20px;
}

footer{
	position:absolute;
	bottom:0px;
	width:100%;
	background-color : #4e6c82;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

.erreur {
	height:30px;
	color:red;
}


.button {
   margin-right: 10px;
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
}

.wrapper {
    padding: 10px;
    height: 50px;
    float: left;
}
table {
    border-collapse: collapse;
}

tr {
    height: 50px;
}
#popup {
    display: hidden;
}


******************************************
a{
    text-decoration: none;
}
.liste {
position: relative;
width: 50%;
margin: 0 auto;
}
.ligne {
    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
    position: relative;
}
.ligne:hover {
    background: #e9e9e9;
}

.titre {
    display: inline-block;
    padding: 10px;   
    border-right-color: #b3b3b3;
    vertical-align: middle;
}
.titre.plus {
    float: right;
}
.plus button {
    
    font-size: 2.5em;
    line-height: 0.5em;
    color:#aaa;
    display: block;
    font-weight: bold;
    vertical-align: middle;
   
}
.plus #button2 {
    background: url("../medias/icons/play.png");
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
}

#form_wrapper, #div_Player 
    {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-top: 100px;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    #close_btn,#close_btn 
    {
      position: absolute;
      top: 0;
      right: 0;
      margin: -15px -15px 0 0;
      width: 33px;
      height: 33px;
      font-weight: bold;
      font-size: 30px;
      border-radius: 50%;
      float: right;        
    }
    #close_btn img,#close_btn2 img 
    {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    #add_form 
    {
      position: relative;
      width: 95%;
      margin: 0 auto;     
      text-align: left;
      padding: 5px 15px 25px 15px;
      background: rgba(255, 255, 255, 1);
    }
    #add_form input, #add_form select
    {
      float: right;
      width: 40%;
    }
 


*/
