
nav ul {
	list-style-type:none;
	background-color : #195594; /* bleu clair */
	height:55px;
	
}

nav ul li {
	float:left;
	width:135px;
	height:55px;
	
}

nav ul li a {
	
	display:block;
	width:135px;
	padding-left:15px;
	padding-top:15px;
	height:40px;
	background-color : #195594; /* bleu clair */
	text-decoration : none;
	color:white;
}

nav ul li a:hover, nav ul li a.actif {
	background-color : #6b9bdb;
	font-weight:bold;
}
