/*
 * 
 * 019b67 foncé
 * CBEACE clair
 */

* {
	margin:0;
	padding:0;
}

body {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

header {	
	
	height:68px;
	padding-left:120px;
	padding-top:25px;
	
}
div#adm {
	padding-left:15px;
	padding-top:15px;
	
}
section {
	clear:left;
	
	
	padding-top:50px;
	padding-left:20px;
	width:100%;
	height:175px;
}
dl{
	padding-left:20px;
}
dt {
	font-weight:bold;
}
dd {
	padding-left:20px;
}

footer{
	position:absolute;
	bottom:0px;
	width:100%;
	background-color : #f6701d;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

.erreur {
	height:30px;
	color:red;
}

/* **************************************************** */

#adm dl dt, dl dd {
	
	height:48px;
	
}

#adm dl dd a, #adm dl dt a {
	display:inline-block;
	
	height:48px;
}
#adm dl dd span, #adm dl dt span {
	visibility:hidden;
	
}
#adm dl  dd:nth-child(even) {
	background-color:#CBEACE;
	
}

#adm dl dd a[href*="mod"] {
	
	background: url(../medias/edit_48.png) no-repeat center top;
}

#adm dl dd a[href*="sup"] {
	
	background: url(../medias/delete_48.png) no-repeat center top;
}

#adm dl dt a[href*="add"] {
	
	background: url(../medias/add_48.png) no-repeat center top;
}
