
nav ul {
	list-style-type:none;
	background-color : #f6701d;
	height:55px;
	
}

nav ul li {
	float:left;
	width:200px;
	height:55px;
	
}

nav ul li a {
	
	display:block;
	width:200px;
	padding-left:15px;
	padding-top:15px;
	height:40px;
	background-color : #f6701d;
	text-decoration : none;
	color:white;
}

nav ul li a:hover, nav ul li a.actif {
	background-color : #c8a78c;
	color:#019b67; /* vert foncé */
	font-weight:bold;
}
nav ul li a:visited{
    background-color: #f6701d;
}
