/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-12-13, 22:20:04
    Author     : MarcioAndrei
*/

body {
    margin: 0;
    padding: 0;
    font-family:Arial, Tahoma, Sans-serif;
}
.images_table{
    height: 50px;
}
#Home{
    margin: auto;
    width: 1080px;
    background-image: url('../medias/bg-1.jpg');
    background-repeat: repeat-x;
}

header{
    width: 100%;
    height: 120px;
    background-image: url('../medias/back.jpg');
    background-size: 100% 100%, auto;
}
header h1{text-shadow: 2px 2px 2px #cccccc;}

header h1{
    width: 500px;
    padding-top: 20px;
    padding-left: 10px;
}

#Login{
    float: right;
    /*position: absolute;*/
    margin-top: -60px;
    margin-right: 5%;
    font-size: 1.2em;
}

/*#Login a{color: #B8B8B8;}*/
#Login a:hover{color: #1295E4;}

article{
    margin-top: 20px;
    min-height: 600px;
}
#index{
    text-align: center;
}

#tete{margin-left: 25%; text-align: center; background-color: #ededed; width: 50%;
      border: 1px solid black; 
      border-radius: 10px;
      box-shadow: 3px 3px 3px #4f5058;
      text-shadow: 2px 2px 2px #cccccc;
      text-transform: uppercase;
}

table {margin-left: 20px; margin-bottom: 20px; width: 960px; background-color:#cccccc; border: solid 1px black; }
table tr:nth-child(odd){background-color: #f3f3f3;}

#Formulaire{width: 600px; margin: auto; line-height: 200%; text-align: left;}
#Bouton{text-align: center;margin-bottom:10px;}
fieldset{ background-color: #ededed;}
legend{padding-right: 5px; padding-left: 5px; font-size: 1.5em; font-weight: bold;}

label{
    margin-right: 10px;
    text-align: right;
    font-size: 1em;
    /*font-weight: bold;*/
    /*display: block;*/
    width: 150px;
    float: left;
}
textarea{width: 307px;}

#btnNouveau{margin-left: 30px; font-size: 1.3em;}
#requete {margin-left: 10px; font-size: 1.2em;}
/* Reset */
.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
}
.erreur {
    height:30px;
    color:red;
}

/* Menu */
.menu {	
    height: 40px;
    width: 100%;

    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background:    -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background:      -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background:     -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background:         linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}

/* Links */

.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;

    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;

    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

a.actif {
    background: #1f2024;
    font-style: italic;
}


.menu li:first-child a{ border-left: none; }
.menu li:last-child  a{ border-right: none; }

.menu li:hover > a { color: #8fde62; }
/* Sub Menu */

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;

    opacity: 0;

    background: #1f2024;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.menu li:hover > ul { opacity: 1; }

.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
}

.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 100px;
    padding: 4px 0 4px 20px;
    margin: 0;

    border: none;
    border-bottom: 1px solid #353539;
}

.menu ul li:last-child a { border: none; }

#lnkClient{float: left; text-align: left; margin-left: 5px; }

footer{
    padding: 5px;
    text-align: center;
    height: 50px;
    background-color: #e6e4e4;
    border-radius: 10px;
}